@model BookMyShow.Models.MovieModel
@{
    ViewData["Title"] = "DeleteMovie";
}
<h1>DeleteMovie</h1>
<hr />
<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-12">
            <div class="form-group">
                <label for="MovieId">
                    @Html.DisplayNameFor(Movieobj => Movieobj.MovieID)
                </label>
                @Html.EditorFor(Movieobj => Movieobj.MovieID)
            </div>
            <div class="form-group">
                <label for="MovieName">
                    @Html.DisplayNameFor(Movieobj => Movieobj.MovieName)
                </label>
                @Html.TextBoxFor(Movieobj => Movieobj.MovieName)
            </div>
            <div class="form-group">
                <label for="MovieLanguage">
                    @Html.DisplayNameFor(Movieobj => Movieobj.MovieLanguage)
                </label>
                @Html.EditorFor(Movieobj => Movieobj.MovieLanguage)
            </div>
            <div class="form-group">
                <label for="MoviePrice">
                    @Html.DisplayNameFor(Movieobj => Movieobj.MoviePrice)
                </label>
                @Html.TextBoxFor(Movieobj => Movieobj.MoviePrice)
            </div>
            <div class="form-group">
                <label for="MovieDescription">
                    @Html.DisplayNameFor(Movieobj => Movieobj.MovieDescription)
                </label>
                @Html.EditorFor(Movieobj => Movieobj.MovieDescription)
            </div>
            <div class="form-group">
                <label for="MovieType">
                    @Html.DisplayNameFor(Movieobj => Movieobj.MovieType)
                </label>
                @Html.TextBoxFor(Movieobj => Movieobj.MovieType)
            </div>
            <div class="form-group">
                <label for="MovieLocation">
                    @Html.DisplayNameFor(Movieobj => Movieobj.MovieLocation)
                </label>
                @Html.TextBoxFor(Movieobj => Movieobj.MovieLocation)
            </div>
            <input type="submit" value="Delete Movie" />
            <input type="button" value="Reset" />
        </div>
    }
</div>

