@model BookMyShow.Models.RatingModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RatingModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieRatings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieRatings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieModel.MovieName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RatingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
